menu "Kernel Features"
config PRINTK
    bool "printk 日志子系统"
    default y

config IRQ
    bool "IRQ 中断框架"
    default y

config SYSCTL
    bool "sysctl 运行时参数"
    default y

source "kernel/sched/Kconfig"
source "kernel/time/Kconfig"
config KERNEL_WORKQUEUE
    bool "Workqueue 支持"
    default y
endmenu
